1. Soundboard
    Not remove items from list box on drag/drop
    Online Syrinscape (beta)
3. Conditions
    Impact on e.g. movement or other
5. I would like to make the player's window skinnable
    Add an additional frame for the whole Player's Window
7. Other
    Startup directly to network login / too many warnings
    Error message when trying to open incompatible campaign file.


Long actions that need a loading bar
- opening a bestiary
- opening a spellbook
- opening a campaign
- reading a map
- importing a campaign
- importing a bestiary
- importing a character
- updating a character
- updating a party

    Background color default to black, not transparent
    Background color on maps defaults weird

    Conditions
    Other effects, tie things to individuals

Remove dicerollframe

    Improve Objects and Effects editing
    Object editing should allow editing width or height...
    Delete key in battle
    Drag a character to top doesn't make it an NPC
    Add progress indications to loading campaigns and importing characters (and maybe maps?), new bestiary/spellbook, etc
    Delete entry in the tree move selection to parent item
    Pointer on maps

CLIENT
Show connection and login status, show current session
Show server feedback
If server is known, ask the user if they would like to connect
If server is not known,
Default server to www.wwpd.de for now
Change server to dm-helper.com before release
Make three always on top pop-out windows

Sample payloads
<image></image><audio></audio><command></command><payload></payload>
<image></image><audio>https://www.youtube.com/watch?v=9bMTK0ml9ZI</audio><command></command><payload></payload>
<image></image><audio>https://www.youtube.com/watch?v=IA0_cxItj9s</audio><command></command><payload></payload>

Red color:  _color(115,18,0,64)

General Todos:
Create generic Bestiary imports - some sort of contribution mechanism?
Online docs
Marketing Videos
Make truly opensource

v2.2+ Features:
1) Syrinscape integration
3) Youtube Vidoes?
6) OpenGL based battles?

v3.0 Todos:
1) Update Documentation


add opensource comments on all files
white grid or black screen at button click
Import/Export bestiary
House rules bucket
Split Bestiary into Generic Bestiary and Custom Bestiary, merged into a single list / multiple bestiary files
Text encounters need font and color management
Markers for maps

Multiselect
Draw things on battle map
Correct XP calculations - calculate to reflect multiple monsters
Export/Import of individual adventures, party, characters, encounters
Item cards like in Critical Role

Shortcuts
Ctrl+Q: Quit DMHelper
Ctrl+W:     (Close Window)
Ctrl+E: Opens the DM Screen
Ctrl+R: Opens the Quick Reference Guide
Ctrl+T: Tables Tables Tables
Ctrl+Z: Undo
Ctrl+U: Underline
Ctrl+I: Italics
Ctrl+O: Open a campaign
Ctrl+P: Publish the current image or toggle Publishing
Ctrl+A:
Ctrl+S: Save the current campaign
Ctrl+D: Dice roll Dialog
Ctrl+F: Find
Ctrl+G: Go to the Soundboard
Ctrl+H: Go to the Spellbook
Ctrl+J:
Ctrl+K: Opens the Kalendar
Ctrl+L: Open the Preview Window
Ctrl+Y: Redo
Ctrl+X: Cut
Ctrl+C: Copy
Ctrl+V: Paste
Ctrl+B: Bold
Ctrl+N: Move to the Next combatant (in Combats only)
Ctrl+M: Open the Bestiary to search for Monsters


Localization:
Italian: Rufus Loacker
Portugese: texmex42


syrinscape-fantasy:moods/YnJpbmRvbC10b3duOjpCdXN5IG1hcmtldCBkYXk/play/

syrinscape-fantasy:moods/YnJpbmRvbC10b3duOjpCYXJkJ3MgZGF5IG9mZg/play/

syrinscape-fantasy:moods/YnJpbmRvbC10b3duOjpTZXR0aW5nIHVwIGZvciBNb3JuaW5nIFRyYWRl/play/

syrinscape-fantasy:elements/YnJpbmRvbC10b3duOjo2LWhvcnNl/play/

syrinscape-fantasy:elements/YnJpbmRvbC10b3duOjo2LUNvdw/play/

syrinscape-fantasy:elements/YnJpbmRvbC10b3duOjo2LVJvb3N0ZXI/play/

syrinscape-fantasy:stop/


https://dmh.wwpd.de
c.turner
Ente2020 or Ente12345
session: 7B3AA550-649A-4D51-920E-CAB465616995
invite: VR1XaH
4Sh3w7
file: 25b939c597a98aa5aba30a09837c7065

NewUser
44C79028-2817-4F60-A0D2-ED88B62D895D
asdfasdf1


Make the Network button look enabled, but not activated
Add network logging details
1. Add createuser to DMH
2. use usr_mng info to get user ID if not known
Bugs:
* error message if create user fails
* error message if anything fails!!!


https://www.youtube.com/watch?v=fIuO3RpMvHg
<image></image><audio>https://www.youtube.com/watch?v=fIuO3RpMvHg</audio><command></command><payload></payload>
<image>25b939c597a98aa5aba30a09837c7065</image><audio>https://www.youtube.com/watch?v=fIuO3RpMvHg</audio><command></command><payload></payload>
<image>25b939c597a98aa5aba30a09837c7065</image><audio></audio><command></command><payload></payload>

Install
Install Qt
Install MS Visual Studio community version
    MSVC v142 VS 2019 C++ x64/x86 build tools
    Windows 10 SDK
Copy binsrc to debug build directory


