IMPORTANT: FIND OUT ABOUT THE DEPENDENCY ON WINDOWS DISTRIBUTABLE, DIFFERENT FROM PREVIOUS
1. Soundboard
    DONE - First draft done with local files, youtube and syrinscape playback.
    DONE - Some detailed functionality such as track duration and playback time
    Online Syrinscape (beta)
2. Spellbook
    DONE - Engineering version with PHB (WotC IP) data
    SRD data xml
    Potential need for xml reading performance improvement
    Non-standard meta-data like conditions/damage caused, color/shape of AoE effects, or optional images for use on a battle map
    Images to be possible "on top" of real effects to consider radius, etc.
3. Conditions
    DONE - Can be set in battles
    Visual reminders in DM view
    Visual reminders in Player's Window
    Impact on e.g. movement or other
    Action roll-over
    DONE - Improved selection of the effects on the screen
4. Layers - not started yet
5. I would like to make the player's window skinnable
    DONE - Basic skinning
    DONE - Full list of next combatants in on-deck list
    Add an additional frame for the whole Player's Window
6. Player's Window control of battle contents
    DONE
    DONE - Movement circle for movement from the Player's Window
7. Other
    DONE - position of objects in battle correctly saved
    DONE - old-school (v1.5 or earlier) notes from battles are shown as child text elements
    DONE - Crashes after moving items around
    DONE - Crash on Zoom to Fit without a map
    DONE - External links
    Delete key in battle

Red color:  _color(115,18,0,64)

General Todos:
Update roadmap github
Update website
Create generic Bestiary imports - some sort of contribution mechanism?
Online docs
Marketing Videos
Make truly opensource

v2.1 Features:
1) Syrinscape integration
2) Youtube Audio (vlc)
3) Youtube Vidoes?
4) Conditions, battle upgrades in general
5) Spell DB
6) OpenGL based battles?

v2.1 Todos:
1) Update Documentation


Reload tables
add opensource comments on all files
white grid or black screen at button click
Import/Export bestiary
House rules bucket
Split Bestiary into Generic Bestiary and Custom Bestiary, merged into a single list / multiple bestiary files
Text encounters need font and color management
Markers for maps

Multiselect
Draw things on battle map
Correct XP calculations - calculate to reflect multiple monsters
Export/Import of individual adventures, party, characters, encounters
Item cards like in Critical Role

Shortcuts
Ctrl+Q: Quit DM Helper
Ctrl+W:     (Close Window)
Ctrl+E: Opens the DM ScrEEn
Ctrl+R: Opens the Quick Reference Guide
Ctrl+T: Tables Tables Tables
Ctrl+Z: Undo
Ctrl+U: Underline
Ctrl+I: Italics
Ctrl+O: Open a campaign
Ctrl+P: Publish the current image or toggle Publishing
Ctrl+A:
Ctrl+S: Save the current campaign
Ctrl+D: Dice roll Dialog
Ctrl+F: Find
Ctrl+G: Go to the Soundboard
Ctrl+H:
Ctrl+J:
Ctrl+K: Opens the Kalendar
Ctrl+L: Open the Preview Window
Ctrl+Y: Redo
Ctrl+X: Cut
Ctrl+C: Copy
Ctrl+V: Paste
Ctrl+B: Bold
Ctrl+N: Move to the Next combatant (in Combats only)
Ctrl+M: Open the Bestiary to search for Monsters


syrinscape-fantasy:moods/YnJpbmRvbC10b3duOjpCdXN5IG1hcmtldCBkYXk/play/

syrinscape-fantasy:moods/YnJpbmRvbC10b3duOjpCYXJkJ3MgZGF5IG9mZg/play/

syrinscape-fantasy:moods/YnJpbmRvbC10b3duOjpTZXR0aW5nIHVwIGZvciBNb3JuaW5nIFRyYWRl/play/

syrinscape-fantasy:elements/YnJpbmRvbC10b3duOjo2LWhvcnNl/play/

syrinscape-fantasy:elements/YnJpbmRvbC10b3duOjo2LUNvdw/play/

syrinscape-fantasy:elements/YnJpbmRvbC10b3duOjo2LVJvb3N0ZXI/play/

syrinscape-fantasy:stop/




